/* Variavéis de cor/sombra, para formatação de todo elemento CSS. */

:root {
    --brown: #92713b;
    --brown-dark: #886a29;
    --brown-more-dark: #b68723aa;
    --brown-blc: #856222dd;
    --shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    --navColor: linear-gradient(to right, #463827 5%, #1f1b12);
}

 /* Corpo do Site */

body {
    font-family: 'Lora', serif;
    background-color: #463827;
    background-image: url(pexels-maksim-goncharenok-9929032.jpg);
    background-position-y: -200px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
   
}

/* Formatação da nav */

nav {

    position: absolute;
    background: var(--navColor);
    box-shadow: var(--shadow);
    height: 80px;
    width: 100%;
    color: rgb(201, 183, 156);
}

/* Formatação do Subtítulo */

h2 {

    text-align: center;
    padding: 120px;
    color: rgb(249, 249, 249);
    font-style: italic;
    font-size: 50px;

}

/* Formatação do menu */

nav ul {

    position: relative;
    float: right;
    margin-right: 75px;
    display: flex;
    text-indent: 50px;
    font-size: 20px;
    padding-top: 30px;
}

li {
    list-style: none;
}

li a {
    color: #fcf2fa;
    text-decoration: none;
    color: #d7a86e;
}

a:hover {
    padding: 10px;
    border-radius: 5px;
    background: var(--brown-dark);
    transition: .5s;
}

/* formatação do artigo */

article {

    margin-bottom: 800px;
    color: #fcf2fa;
    text-decoration: double;
    font-size: 25px;
    height: 20px;
    width: 90vh;
    margin: 90px;
    
}

article h1 {
    font-size: 80px;
    margin-bottom: 90px;
    margin-top: 90px;
    font-style: italic;
}

P {
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}


/* Formatação do logo */

label.logo {
    color: #d7a86e;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    letter-spacing: -1px;
    font-weight: 800;
    font-style: italic;
    transition: .2s ease;
    text-shadow: 3px 5px 20px #271c26aa;
}
 
/* Formatação do rodapé */

footer {
    background-color: #1f1b12;
    height: 20px;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, .3);
    clear: both;
    border-top: 1px solid black;
    text-align: center;
    padding: 40px;
    color: #886a29;
    font-size: 20px;

}



